<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>Listsners.Listsner</listener-class>
    </listener>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>servlets.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>servlets.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUser</servlet-name>
        <servlet-class>servlets.updateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>servlets.profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainMenu</servlet-name>
        <servlet-class>LoginFacebook.MainMenu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainMenu</servlet-name>
        <url-pattern>/MainMenu</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home_2.jsp</welcome-file>
    </welcome-file-list>
</web-app>
