* {
  box-sizing: border-box;
 
}

body {

font-family: 'Montserrat', sans-serif;

background-image:url("../images/Admin.jpg");
background-repeat: no-repeat;
background-size: cover;
}
/*------------------------------------------------------------*/ 


.nav-home{
	background-color: #ffffff;
	text-align: center;
	
}

.nav-home ul {list-style-type: none; margin-top: -10px;
 }
.nav-home ul li {
	display: inline-block;
	float: right;
	width: 33.33333%;
	cursor: pointer; 
	color: #26a69a ; 
	padding: 10px 0;
	font-size: 18px;
	height: 100%

}
.nav-home ul li:hover{
	color: #FFF; 
	background: #26a69a;
	 border-radius: 3px; 
	
 }
	 .nav-home ul li:hover {
	 	color: #fff
	 }

.nav-home ul li.select-home{ background-color: #26a69a; color: #fff; font-weight: bold ; }


/* nav */

.Admin-Links , .Admin-question , .Admin-Courses{
	padding: 20px;
	margin-top: 50px;
}
.container{
	background-color: #ffffff;
	padding: 15px 15px 40px;
}
.search {
	padding: 10px;
	
	margin-bottom: 30px

}
.form-control{
	padding: 20px;
	margin-bottom: 20px;

}
.striped {
	border: 2px solid #ddd;
}
.formas button{
	margin-top: 20px;
}
.Admin-question textarea , .Admin-Courses textarea{
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px 5px;
	height: 155px;
}
input , label {
	display: block;
}